body
{
	background-color:#f2f2f2;
}

#main-wrapper
{
	min-height: 100vh;
}
#body-wrapper
{
	background-color:#f9f9f9;
	height:100vh;
}
.container 
{	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	font-family:;
}

.main-section
{
	font-family: Arial;
	height:30vh;
	margin-top: 20vh;
}